<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ page_title | default("Gasolinera") }}</title>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="{{ url_for('static', path='/js/script.js') }}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="{{ url_for('static', path='/css/customer.css') }}" rel="stylesheet" />
</head>
<body>

    {% include 'navigation.html' %}

    <div class="container">
        {% if page_title != "Login" %}
        <div class="col-md-12">
            <div class="page-header">
                <h1>{{ page_title }}</h1>
            </div>
        </div>
        {% endif %}

        {# Aquí se insertará el contenido específico de cada página #}
        {% block content %}{% endblock %}
    </div>

</body>
</html>